.player {
      margin-top: 3em;
      width: 45em;
      max-width: 45em;
      padding: 0%;
      display: inline-block;

      .content {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 0em;

            .discard-btn {
                  padding: 10px 15px;
                  border-radius: 5px;
                  background-color: #009dff;
                  border: none;
                  color: white;
                  cursor: pointer;
                  transition: 0.3s;
                  text-decoration: none;
                  margin-top: 1em;
            }

            .discard-btn:hover {
                  background-color: #0086d8;
            }
      }
}

span {
      text-align: center;
      cursor: default !important;
}

input[type="file"] {
      display: none;
}